<!DOCTYPE html>
<html>
<head>
  <title>QIBTO</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=0">
  <style>
    body{
      background: url('http://qibto.com/demo/imgs/mainbg.jpg');
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
    .heading{
      width:100%;
      text-align:center;
      color:#fff;
      position: absolute;
      font-size:5em;
    }
    .welcome{
      width:100%;
      text-align:center;
      color:#fff;
      position: absolute;
      top:30%;
      font-size:4em;
    }
  </style>
</head>
<body>
    <p class="heading">QIBTO</p>
    <p class="welcome">Welcome to coolest api on the earth !</p>
</body>
</html>
