<!DOCTYPE hmtl>
<html lang="en">

<head>
  <title>QIBTO | Password Reset Successfull</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Exo');
    @import url('https://fonts.googleapis.com/css?family=Exo|Playfair+Display');
    body {
      background: #f2f2f2;
    }

    .QIBTO-login {
      width: 300px;
      max-width: 100%;
      margin-top: 60px;
      font-family: 'Exo', sans-serif;
      text-align: center;
      margin: auto;
    }

    .QIBTO-logo {
      font-size: 80px;
      color: #787878;
      font-family: 'Playfair Display', serif;
      margin: 0;
    }

    @media screen and (max-width: 420px) {
      .QIBTO-logo {
        font-size: 135px;
      }
    }


    .QIBTO-description {
      letter-spacing: 1px;
      font-size: 12px;
    }

    .QIBTO-access {
      font-size: 13px;
    }

    .QIBTO-input {
      border-radius: 0;
      font-size: 14px;
      width: 100%;
      padding: 8px 10px;
      border: 1px solid #ccc !important;
    }

    .QIBTO-reset-btn {
      padding: 8px 16px;
      background: teal;
      color: #fff;
      border: none;
      margin-top: 20px;
      width: 100%;
      font-size: 16px;
      border-radius: 0;
      letter-spacing: 2px;
      font-family: 'Playfair Display', serif;
      cursor: pointer;
    }

    .QIBTO-about {
      font-family: cursive;
      color: #898989;
      margin-top: 25px;
    }
  </style>
</head>

<body>
<div class="QIBTO-login">
  <div>
    <h1 class="QIBTO-logo">QIBTO</h1>
    <p class="QIBTO-description">A motor driving training school</p>
    <h3>Password reset success !</h3>
  </div>
  <div>
    <p>Your password has been reset successfully !</p>
    <br>
    <p>Please login to your account !</p>
  </div>

  <div>
    <h4 class="QIBTO-about">QIBTO Powered by Cyberframe</h4>
  </div>

</div>

</body>

</html>
